.image {
  display: inline-block;
}

#pokeball {
  width: 3em;
  height: 3em;
  right: -17px;
  position: relative;
  top: 19px;
}

body {
  background-image: url('./Background6.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  width: 100%;
  max-height: 700px;
  overflow-x: hidden;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
}